header {
    position: fixed;
    background: rgb(27, 228, 111);
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

img.logo {
    height: 60px;
    width: 300px;
    float: left;
}

nav {
    float: right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

.tubuh {
    margin-top: 90px;
}

a:hover {
    color: green;
}

#up {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

.form-berita {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}

.tabel-berita {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}

body>.table {
    width: 80%;
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #dddddd;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-tambah {
    text-align: right;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}