body{
  background-color: rgba(250, 217, 175, 0.603); 
}

.menu{
    background-color: rgba(206, 176, 138, 0.603);
    height: 100px;
    padding: 100px;
}

.img-responsive{
    width: 80px;
    height: 80px;
    float: left;
    display: inline-block;
}

.menu a{
    float: right;
    color: #000000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .menu a:hover {
    background-color: rgb(163, 163, 163);
    color: black;
  }
  
  .menu h1{
      font-size: 20px;
      font-style: arial;
      text-align: left;
  }

  .tampil{
    background: rgba(197, 174, 144, 0.603);
    height: 500px;
    padding: 10px 200px 200px 200px;
  }

  .menu2 b{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
  }

  .menu2 b:hover {
    background-color: whitesmoke;
    color: black;
  }

  .masuk{
    background-color: rgb(231, 227, 227);
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px;
  }

  .berita{
    text-align: center;
  }

  .about{
    background-color: rgba(206, 176, 138, 0.603);
    padding: 20px;
  }